<li class="list-group-item list-group-item-secondary collapser collapse show" id="collapse-query-<%= query_product.id %>">
  <div class="fw-bold">
    <%= query_product.query_text.truncate(10) %>
    <small class = "align-items-end"><%= time_ago_in_words(query_product.created_at) %> ago</small>
  </div>
</li>
<li class="list-group-item collapse collapser query-answer" id="collapse-query-<%= query_product.id %>-answer">
    <div class="fw-bold">
      <%= query_product.query_text %>
    </div>
    <%= query_product.answer_text ? query_product.answer_text  : "No response yet. Vote this question so it's answered first!"%>
  </div>
</li>

