<h2>Resend confirmation instructions</h2>
<div class="col-lg-7 col-md-9 col-sm-8">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary w-100 mt-4 mb-0' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
