<div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 rounded-3">
  <div class="card bg-white product-card">
    <div class="bg-white d-flex justify-content-center" >
      <% if product.image.attached? %>
        <%= image_tag product.display_image_list, class: 'd-block w-100' %>
      <% else %>
        <img src="https://www.w3schools.com/css/img_lights.jpg" class="d-block w-100">
      <% end %>
      <div class="card-img-overlay d-flex flex-row-reverse btn-sm">
        <div class="collapse favorites">
          <%= render 'favorites/form', product: product %>
        </div>
      </div>
    </div>
    <div class="card-body pb-3">
      <h5 class="card-title"><%= product.product_name.capitalize %></h5>
      <div class="card-text">
        <%= number_to_currency product.product_price %>
        <%= link_to '', product_path(product), class: 'stretched-link' %>
      </div>
      <p class="mb-0 mt-2 product-description collapse text-muted" >
        <%= product.product_description.capitalize %>
      </p>
    </div>
  </div>
</div>